/* src/Components/Navbar/Navbar.css */
.container-n {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 2000px;
  height: 100%;
  background: white;
  padding: 40px 30px;
  font-family: 'Segoe UI', sans-serif;
}
.navbar {
    background-color: #f8f9fa;
    padding: 10px;
  }
  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    margin-right: 10px;
    color: #000;
  }
  