.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 650px;
    height: 100%;
    background: white;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo {
    display: block;
    max-width: 100px;
    margin-bottom: 10px;
}

.text {
    color: #2e2e2e;
    font-size: 36px;
    font-weight: bold;
}

.underline {
    width: 150px;
    height: 4px;
    background: #a97455;
    border-radius: 5px;
}

.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #f2eee9;
    border: 1px solid #e3dcd4;
    border-radius: 10px;
    padding: 0 15px;
}

.input img {
    width: 20px;
    margin-right: 12px;
    opacity: 0.7;
}

.input input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #5c5c5c;
}

.forgot-password {
    text-align: center;
    font-size: 15px;
    color: #a97455;
    margin-top: 12px;
}

.forgot-password span {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

.error-message {
    margin-top: 10px;
    text-align: center;
    color: #d93025;
    font-size: 14px;
    font-weight: 500;
}

.submit-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 40px auto 0 auto;
    width: 100%;
}

.submit {
    flex: 1;
    text-align: center;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #a97455;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit:hover {
    background: #8b6043;
}

.gray {
    background: #e0e0e0 !important;
    color: #888 !important;
    cursor: not-allowed !important;
}
.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 12px 20px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    margin: 10px auto 0;
    transition: all 0.3s ease;
}

.google-button:hover {
    background-color: #f1f1f1;
}
